# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.ilk
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
/1_basic_code/1_basic_code/Debug/1_basic_code.tlog
/1_basic_code/.vs/1_basic_code/v16/ipch/AutoPCH/17b62d02cae50934/1_BASIC_CODE.ipch
/.vs/peakit04/v16/.suo
/1_basic_code/.vs/1_basic_code/v16
/Vulkan_basic_code/.vs/1_basic_code/v16
/Vulkan_basic_code/1_basic_code/Debug
/Vulkan_basic_code/1_basic_code/x64/Debug
/Vulkan_basic_code/.vs/Vulkan_basic_code/v16
/Vulkan_basic_code/2_create_instance/Debug
/Vulkan_basic_code/2_create_instance/x64/Debug
/Vulkan_basic_code/3_validate_layers/Debug
/Vulkan_basic_code/4_select_physical_device/Debug
/Vulkan_basic_code/5_create_logical_device/Debug
/Vulkan_basic_code/10_create_renderpass/Debug
/Vulkan_basic_code/10_create_renderpass/x64/Debug
/Vulkan_basic_code/11_create_framebuffers
/Vulkan_basic_code/12_create_command_buffers
/Vulkan_basic_code/13_draw_first_triangle
/Vulkan_basic_code/14_create_vertex_buffer
/Vulkan_basic_code/15_create_index_buffer
/Vulkan_basic_code/16_create_uniform_buffer/Debug
/Vulkan_basic_code/3_validate_layers/x64/Debug
/_external/glm/out/build/x64-Debug
/Vulkan_basic_code/9_create_graphics_pipeline
/Vulkan_basic_code/8_create_image_views
/Vulkan_basic_code/7_create_swapchain
/Vulkan_basic_code/6_create_window_surface/Debug
/Vulkan_basic_code/6_create_window_surface/x64/Debug
/Vulkan_basic_code/5_create_logical_device/x64/Debug
/Vulkan_basic_code/4_select_physical_device/x64/Debug
/.vs/VulkanBasicCode/v16
